
{% extends 'accounts/base.html' %}

{% block content %}
	<div class="flex flex-col w-full gap-12 p-12" >
		<h1 class="text-4xl font-bold" >Add new rating</h1>
		<div class="bg-base-200 p-12 rounded-lg flex flex-col gap-2" >
			<div class="" >
				<form hx-post="/movie/search_api/" hx-trigger="input delay:500ms" hx-target='#holder'>
					<h2>Select the movie to be reviews</h2>
					{% include "searchbar.html" %}
				</form>
			</div>
			<div id="holder" class="flex flex-wrap justify-center h-72 overflow-scroll">
			</div>
		</div>
		<div
			class="bg-base-200 p-12 rounded-lg"
			hx-post="/rating/getvalues/{{rating.pk}}/"
			hx-trigger="MovieSelected from:body"
		>
		</div>
	</div>
{% endblock %}
