<!doctype html>
<html class="no-js" lang="" data-theme='{{user.accounts.all.0.theme}}' >
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{% block title %}{% endblock %}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="apple-touch-icon" href="/apple-touch-icon.png">

		<script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
		<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
		<script src="https://cdn.tailwindcss.com"></script>

	</head>
	<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-boost='true'  >
		{% block nav %}
		<div class="flex flex-row relative">
			<div class="min-w-56 h-screen relative" >
				<ul class="flex flex-col justify-between absolute w-56 menu bg-base-200 rounded-box h-screen">
					<ul class="">
						<a href="/account" class="btn btn-ghost text-xl">Rater</a>
						<li><a href='/account' >My ratings</a></li>
						<li><a href='/account/add' >Add rating</a></li>
						<li><a href='/account/settings'>My Account</a></li>
					</ul>
					<li><button hx-target="body" hx-post="/account/logout">Logout</button></li>
				</ul>
			</div>
			{% endblock %}

			{% block content %}
			{% endblock %}
		</div>
		<footer class="footer bg-neutral text-neutral-content p-10">
			<nav>
				<h6 class="footer-title">Services</h6>
				<a class="link link-hover">Branding</a>
				<a class="link link-hover">Design</a>
				<a class="link link-hover">Marketing</a>
				<a class="link link-hover">Advertisement</a>
			</nav>
			<nav>
				<h6 class="footer-title">Company</h6>
				<a class="link link-hover">About us</a>
				<a class="link link-hover">Contact</a>
				<a class="link link-hover">Jobs</a>
				<a class="link link-hover">Press kit</a>
			</nav>
			<nav>
				<h6 class="footer-title">Legal</h6>
				<a class="link link-hover">Terms of use</a>
				<a class="link link-hover">Privacy policy</a>
				<a class="link link-hover">Cookie policy</a>
			</nav>
		</footer>
	</body>
</html>
