{% extends 'accounts/base.html' %}
{% block content %}
<div class="w-full min-h-screen  p-12 flex flex-col" >
	<div class="w-full flex flex-row justify-between" >
		<a href="add" class="btn btn-primary">
			Add new rating
		</a>
	</div>
	<table class="table table-zebra">
		<!-- head -->
		<thead>
		<tr>
			<th></th>
			<th>Poster</th>
			<th>Movie title</th>
			<th>Director</th>
			<th>Look</th>
			<th>Script</th>
			<th>Acting</th>
			<th>Soundtrack</th>
			<th>Bonus</th>
			<th>Overalscore</th>
			<th>Description</th>
			<th>Sum</th>
		</tr>
		</thead>
		<tbody>
			{% for rating in ratings %}
			<tr class="hover" >
				<th>{{rating.pk}}</th>
				<th><img src="{{rating.movie.poster}}" alt="" class="w-12 h-12" /></th>
				<td>{{rating.movie.title}}</td>
				<td>
					<a href="/movie/director/{{rating.movie.director.name}}"
					   class='link'>{{rating.movie.director.name}}</a>
				</td>
				<td>{{rating.look}}</td>
				<td>{{rating.script}}</td>
				<td>{{rating.acting}}</td>
				<td>{{rating.soundtrack}}</td>
				<td>{{rating.bonus}}</td>
				<td>{{rating.overalscore}}</td>
				<td class="truncate">{{rating.description}}</td>
				<td>{{rating.average}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

</div>

{% endblock %}
