<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Untitled</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
		<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
		<script src="https://cdn.tailwindcss.com"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    </head>
    <body>
        <div class="navbar bg-base-100">
            <div class="flex-1">
                <a class="btn btn-ghost text-xl">Rater</a>
            </div>
            <div class="flex-none">
                <ul class="menu menu-horizontal px-1">
                <li><a href="/account/login">Login</a></li>
                <li>
                    <details>
                    <summary>Parent</summary>
                    <ul class="bg-base-100 rounded-t-none p-2">
                        <li><a>Link 1</a></li>
                        <li><a>Link 2</a></li>
                    </ul>
                    </details>
                </li>
                </ul>
            </div>
        </div>
        <div class="hero bg-base-200 min-h-screen">
            <div class="hero-content text-center">
                <div class="max-w-md">
                <h1 class="text-5xl font-bold">Hello there Wanna start rating?</h1>
                <p class="py-6">
                    Rater is a OpenSource website where you can rate the movies you have watched.
                Easly hosted localy with <bold class="font-bold">Docker</bold> see <a href="CHANGE THIS LINK" class="link link-primary">Github readme</a> for more information</p>
                <a href="/account/signup" class="btn btn-primary">Get Started</a >
                <a href="/account/login" class="btn btn-primary">Already signup?</a >
                </div>
            </div>
        </div>

        <div class="text-center p-12 items-center flex flex-col gap-12" >
            <h2 class="text-4xl font-semibold" >Rate on different categories<br>for better clarity</h2>
            <div class="grid grid-cols-4 justify-around w-3/4 " >
                <span class="material-symbols-outlined text-[100px]">
                    videocam
                </span>
                <span class="material-symbols-outlined text-[100px]">
                    description
                </span>
                <span class="material-symbols-outlined text-[100px]">
                    groups
                </span>
                <span class="material-symbols-outlined text-[100px]">
                    music_note
                </span>
                <p class="text-xl font-bold">Cinematic look</p>
                <p class="text-xl font-bold">Script</p>
                <p class="text-xl font-bold">Acting</p>
                <p class="text-xl font-bold">Soundtrack</p>
            </div>
        </div>
        <div class="text-center p-12 items-center flex flex-col gap-12 h-min-screen bg-base-300" >
            <h2 class="text-4xl font-semibold" >Built with <br>Django + htmx</h2>
            <p>Easly hosted localy with <bold class="font-bold">Docker</bold> see <a href="CHANGE THIS LINK" class="link link-primary">Github readme</a> for more information</p>
        </div>

        <footer class="footer bg-neutral text-neutral-content p-10">
        <nav>
            <h6 class="footer-title">Services</h6>
            <a class="link link-hover">Branding</a>
            <a class="link link-hover">Design</a>
            <a class="link link-hover">Marketing</a>
            <a class="link link-hover">Advertisement</a>
        </nav>
        <nav>
            <h6 class="footer-title">Company</h6>
            <a class="link link-hover">About us</a>
            <a class="link link-hover">Contact</a>
            <a class="link link-hover">Jobs</a>
            <a class="link link-hover">Press kit</a>
        </nav>
        <nav>
            <h6 class="footer-title">Legal</h6>
            <a class="link link-hover">Terms of use</a>
            <a class="link link-hover">Privacy policy</a>
            <a class="link link-hover">Cookie policy</a>
        </nav>
        </footer>
    </body>
</html>
