{% for rating in ratings %}
<tr class="hover" >
	<th>{{rating.pk}}</th>
	<th><img src="{{rating.movie.poster}}" alt="" class="w-12 h-12" /></th>
	<td>{{rating.movie.title}}</td>
	<td>
		<a href="/movie/director/{{rating.movie.director.name}}"
			class='link'>{{rating.movie.director.name}}</a>
	</td>
	<td>{{rating.look}}</td>
	<td>{{rating.script}}</td>
	<td>{{rating.acting}}</td>
	<td>{{rating.soundtrack}}</td>
	<td>{{rating.bonus}}</td>
	<td>{{rating.overalscore}}</td>
	<td class="truncate">{{rating.description}}</td>
	<td>{{rating.average}}</td>
</tr>
{% endfor %}

<script>
// Function to sort the table by a specific column
function sortTable(columnIndex) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable");
    switching = true;
    dir = "asc"; // Set the sorting direction to ascending initially

    // Loop until no switching is needed
    while (switching) {
        switching = false;
        rows = table.rows;

        // Loop through all table rows (except the headers)
        for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;

            // Get the two elements to compare, one from current row and the next
            x = rows[i].getElementsByTagName("TD")[columnIndex];
            y = rows[i + 1].getElementsByTagName("TD")[columnIndex];

            // Check if the two rows should switch place, based on the direction
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                }
            } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                }
            }
        }

        if (shouldSwitch) {
            // If a switch is needed, make the switch and mark switching as done
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount++;
        } else {
            // If no switching has been done and the direction is "asc", switch to "desc"
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
        }
    }
}
</script>
