{% for rating in ratings %}
<tr class="hover" >
	<th>{{rating.pk}}</th>
	<th><img src="{{rating.movie.poster}}" alt="" class="w-12 h-12" /></th>
	<td>{{rating.movie.title}}</td>
	<td>
		<a href="/movie/director/{{rating.movie.director.name}}"
			class='link'>{{rating.movie.director.name}}</a>
	</td>
	<td>{{rating.look}}</td>
	<td>{{rating.script}}</td>
	<td>{{rating.acting}}</td>
	<td>{{rating.soundtrack}}</td>
	<td>{{rating.bonus}}</td>
	<td>{{rating.overalscore}}</td>
	<td class="truncate">{{rating.description}}</td>
	<td>{{rating.average}}</td>
	<td><a href="/account/edit/{{rating.pk}}" class="link link-primary" >Edit</a></td>
</tr>
{% endfor %}
