<form
	class="grid grid-cols-2 gap-4 "
	hx-post="/rating/setvalues/{{rating.pk}}/"
>
	<input type="number" step="0.01" value="{{rating.look}}" {% if rating.movie %}{%else%}disabled{%endif%} name="look"        placeholder="Cinematic look" class="input input-bordered w-full max-w-xs" />
	<input type="number" step="0.01" value="{{rating.script}}" {% if rating.movie %}{%else%}disabled{%endif%} name="script"      placeholder="Script" class="input input-bordered w-full max-w-xs" />
	<input type="number" step="0.01" value="{{rating.acting}}" {% if rating.movie %}{%else%}disabled{%endif%} name="acting"      placeholder="Acting" class="input input-bordered w-full max-w-xs" />
	<input type="number" step="0.01" value="{{rating.soundtrack}}" {% if rating.movie %}{%else%}disabled{%endif%} name="soundtrack"  placeholder="Soundtrack" class="input input-bordered w-full max-w-xs" />
	<input type="number" step="0.01" value="{{rating.bonus}}" {% if rating.movie %}{%else%}disabled{%endif%} name="bonus" 	  placeholder="Bonus score" class="input input-bordered w-full max-w-xs" />
	<input type="number" step="0.01" value="{{rating.overalscore}}" {% if rating.movie %}{%else%}disabled{%endif%} name="overalscore" placeholder="The overalscore" class="input input-bordered w-full max-w-xs" />

	<textarea class="textarea textarea-bordered col-span-2" name="description" rows="" cols="" placeholder="Description">
		{{rating.description}}
	</textarea>

	<input type="submit" value="Submit" class="btn btn-primary col-span-2" />

</form>
